html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: #fafafa;
}

.swagger-ui #topbar div, html.dark-mode .swagger-ui .topbar{background:transparent}
html:not(.dark-mode) .swagger-ui .topbar .dark-mode-toggle button svg,
html:not(.dark-mode) .swagger-ui .topbar .dark-mode-toggle button svg path{fill:#000;color:#000}
html.dark-mode .swagger-ui .topbar .dark-mode-toggle button svg,
html.dark-mode .swagger-ui .topbar .dark-mode-toggle button svg path{fill:#fff;color:#fff}
.swagger-ui .topbar .topbar-wrapper a svg {
    background: none;
    background-color: currentColor;
    -webkit-mask: url("logo.svg") center / contain no-repeat;
    mask: url("logo.svg") center / contain no-repeat;
}

html:not(.dark-mode) .swagger-ui .topbar .topbar-wrapper a svg {
    color: #000;
}

html.dark-mode .swagger-ui .topbar .topbar-wrapper a svg {
    color: #fff;
}
html:not(.dark-mode) .swagger-ui .topbar .download-url-wrapper input[type=text] {
    border-color: #000;
    color: #000;
}

html:not(.dark-mode) .swagger-ui .topbar .download-url-wrapper .download-url-button {
    background: #000;
    border-color: #000;
    color: #fff;
}

html.dark-mode .swagger-ui .topbar .download-url-wrapper input[type=text] {
    border-color: #fff;
    color: #fff;
}

html.dark-mode .swagger-ui .topbar .download-url-wrapper .download-url-button {
    background: #fff;
    border-color: #fff;
    color: #000;
}
html:not(.dark-mode) .swagger-ui .info .title small.version-stamp {
    background: #000;
}

html.dark-mode .swagger-ui .info .title small.version-stamp {
    background: #fff;
    color: #000;
    pre{
         color: #000;
    }
}

html:not(.dark-mode) .swagger-ui .auth-wrapper > button {
    border-color: #000;
    color: #000;
}

html.dark-mode .swagger-ui .scheme-container .btn.authorize {
    border-color: #fff;
    color: #fff;
}

.swagger-ui .btn.authorize svg{
    fill: #000000;
}
html.dark-mode .swagger-ui .scheme-container .btn.authorize svg{
    fill: #fff;
}
